#aside {
  padding-left: 10px;
  li {
    display: flex;
    min-height: 76px;
    margin: 20px 0px;
  }
  .imgbox {
    flex: none;
    width: 70px;
    img {
      border-radius: 100px;
    }
  }
  .txtbox {
    padding-left: 20px;
    h1 {
      font-size: 16px;
      margin-bottom: 8px;
      line-height: 20px;
    }
    h3 {
      font-size: 13px;
      color: #8d8d8d
    }
   
  }
  h2 {
    color: #505050;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }
}
