#header {
  background: url(/imgs/Blog_title_image.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  .p130 {
    padding: 130px 0px;
  }

  a {
    font-weight: 600;
    padding-right: 30px;
    color: white;
    font-size: 14px;
  }
  li:last-child a {
    padding: 0px;
  }
  h1 {
    font-size: 48px;
    color: white;
    cursor: default;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: 400px;
    font-size: 18px;
    opacity: 0.8;
    color: white;
  }
}
